repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
        - id: ruff-format
        - id: ruff-check
          args: [
              --fix,
          ]
        - id: ruff-format
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
    -   id: mypy
        args:
        - --strict
        - --implicit-reexport
        - --show-error-codes
        - --show-error-context
        - --show-column-numbers
        - --explicit-package-bases
        additional_dependencies:
            - pandas-stubs
            - sympy
            - types-networkx
            - types-requests
            - z3
